<!doctype html>
<html lang="en" ng-app="bbqapp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/away">view2</a></li>
  </ul>

  <div ng-view bbq-temp></div>

  <div>Angular seed app: v<span app-version></span></div>

  <script src="{{ STATIC_URL }}angular/angular.js"></script>
  <script src="{{ STATIC_URL }}angular/angular-cookies.js"></script>
  <script src="{{ STATIC_URL }}js/app.js"></script>
  <script src="{{ STATIC_URL }}js/controllers.js"></script>
  <script src="{{ STATIC_URL }}js/directives.js"></script>
  <!--
  <script src="js/services.js"></script>
  <script src="js/filters.js"></script>
  -->
</body>
</html>
